$xy-grid: true;
$topbar-background: #0a0a0a;
/* CSS declarations go here */
@import '{zurb:foundation-sites}/scss/foundation';

// $global-flexbox: true;
// @include foundation-everything(true);
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
// @include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
// @include form-error;

$blue-primary: #1468a0;

.tt-tasksCheckList {
  display: flex; flex-direction: column;
  margin: 0 auto;
  max-width: 20em;
}

.tt-tasksCheckList__label {
  display: flex; flex: 1;
  justify-content: space-between;
  margin: 5px; margin-bottom: 0;
}

.tt-tasksCheckList__item {
  border-bottom: 1px dashed #2199e8;
  p { margin-bottom: 2px; margin-left: 16px; font-size: 0.9em; }
}

.tt-tasksCheckList__checkbox { margin-top: 6px; margin-bottom: 0; }

.tt-tasksCheckList__title { margin-top: 2em; }

.tt-tasksCheckList__updateButton { margin-top: 25px; }

button.button.success {
  color: white;
  &:hover {
    color: rgb(50, 50, 50);
  }
}

.label.success { color: #222; }

.vo-statuses {
  @include breakpoint(small){
    @include grid-layout(2,'.vo-status', 10);
  }
  @include breakpoint(medium){
    @include grid-layout(3,'.vo-status', 10);
  }
  @include breakpoint(large){
    @include grid-layout(5,'.vo-status', 15);
  }
  margin-bottom: 20px;
}

.status-wrapper {
  padding-top: 14px; padding-left: 20px;
  margin-bottom:5px;
  border: 1px solid $blue-primary;
}

.vo-item {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 14px;
  border: 1px solid $blue-primary;
}

.vo-item-finishings { margin-bottom: 5px; }

.vo-item-preview {
  object-fit: contain;
  width: 100%;
  height: 250px;
  margin: 10px;
  background: #fefefe;
}

.or-timeText { // or: OrderReport
  color: $blue-primary;
}
.or-timeContainer {
  text-align: right;
  padding-right: 4px;
}

.itemForm {
  animation: fade-in-top ease 0.7s forwards;
}
.itemPreview {
  box-sizing: border-box;
  padding: 0 10px;
  object-fit: contain;
  width: 100%;
  max-height: 400px;
  margin: 0 auto;
  animation: fade-in-top ease 0.5s forwards;
}

.previewUploader {
  animation: fade-in-left ease 0.5s forwards;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
