<head>
  <title>io</title>
</head>

<body>
</body>

<template name='mainLayout'>
        <div class="off-canvas-wrapper-left" data-off-canvas>
                {{> offScreenMenu}}
            <div class="off-canvas-content" data-off-canvas-content>
                {{> topBar}}
                {{> Template.dynamic template=content}}
            </div>
        </div>
    <script>
        $(document).foundation();
    </script>
</template>

<template name='landingPage'>
    <div class='row callout primary float-center small-12 medium-6 large-3 columns'>
        {{> atForm}}
    </div>
</template>

<template name='offScreenMenu'>
    <div class="off-canvas position-left" id="menu" data-off-canvas>
        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- Menu -->
        <ul class="vertical menu">
            <li><a href="/dashboard">Dashdoard</a></li>
            {{#if isInRole 'manager,editor'}}
            <li><a href="/addOrder">Add order</a></li>
            {{/if}}
            {{#if isInRole 'manager'}}
            <li><a href="/users">Users</a></li>
            {{else}}
            <li><a href="/profile">My Profile</a></li>
            {{/if}}
            <li><a href='/tasks'>Tasks</a></li>
            <li><a href='/clients'>Clients</a></li>
            {{#if isInRole 'manager,editor'}}
            <li><a href='/orderArchive'>Orders</a></li>
            <li><a href='/reports'>Reports</a></li>
            {{/if}}
            <li><a href="/logout">Signout</a></li>
        </ul>
    </div>
</template>

<template name='topBar'>
    <div class='top-bar'>
        <div class='show-for-small-only top-bar-left'>
            <h1 class='button' data-open='menu'>Menu</h1>
        </div>
        <div class='top-bar-left show-for-medium'>
            <ul class='menu'>
                <li><a href='/dashboard'>Dashboard</a></li>
                {{#if isInRole 'manager,editor'}}
                <li><a href='/addOrder'>Add order</a></li>
                {{/if}}
                {{#if isInRole 'manager'}}
                <li><a href="/users">Users</a></li>
                {{else}}
                <li><a href="/profile">My Profile</a></li>
                {{/if}}
                <li><a href='/tasks'>Tasks</a></li>
                <li><a href='/clients'>Clients</a></li>
                {{#if isInRole 'manager,editor'}}
                <li><a href='/orderArchive'>Orders</a></li>
                <li><a href='/reports'>Reports</a></li>
                {{/if}}
            </ul>
        </div>
        <div class='top-bar-right show-for-medium'>
            <ul class='menu'>
                <li><a href='/logout'>Signout</a></li>
            </ul>
        </div>
    </div>
</template>
