<template name="addOrder">
    <form>
        <div class='row flex-container align-middle'>
            <div class='small-12 medium-3 large-2 columns flex-container'>
                <button class='button hollow flex-child-grow' data-open='clientReveal'>New Client</button>
            </div>
            <div class='reveal' id='clientReveal' data-reveal data-overlay='false'>
                {{> aoNewClient}}
                <button class="close-button newClient-close" data-close aria-label="Close new client dialog" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class='small-12 medium-6 large-4 columns'>
                <label>Customer:
                    <select id='customerName'>
                        {{#each client in clientsList}}
                            <option value='{{client._id}}'>{{client.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
            <div class='small-12 medium-3 columns'>
                <label>Invoice: 
                    <input id='invoice' type='text' placeholder='Nov-00001'>
                </label>
            </div>
            <div class='small-12 medium-3 columns'>
                <label>Due date: 
                    <input name='dueDate' type='date'>
                </label>
            </div>
            <div class='small-6 medium-3 large-4 columns'>
                <label>Payment status:
                    <select name='paymentStatus'>
                        <option value='0'>Balance pending</option>
                        <option value='1' selected>Paid</option>
                    </select>
                </label>
            </div>
            <div class='small-6 medium-2 large-4 columns'>
                <label>Priority: 
                    <select name='priority'>
                        <option value='low'>Low</option>
                        <option value='mid'>Medium</option>
                        <option value='high'>High</option>
                    </select>
                </label>
            </div>
            <div class='small-12 medium-4 large-4 columns'>
                <label>Staff: 
                    <input name='staff' type='text'>
                </label>
            </div>
        </div>
        <!-- ao-statuses.html -->
        {{> aoStatuses}}
        <div class='row'>
            <fieldset class='fieldset small-12 columns'>
                <legend>Order ready:</legend>
                <input type='radio' name='jobReady' value='ups' id='deliverUps' class='small-6 columns'><label for='deliverUps'>UPS</label>
                <input type='radio' name='jobReady' value='fedex' id='deliverFedex'><label for='deliverFedex'>FEDEX</label>
                <input type='radio' name='jobReady' value='delivery' id='delivery'><label for='delivery'>DELIVERY</label>
                <input type='radio' name='jobReady' value='storePickup' id='storePickup'><label for='storePickup'>STORE PICK UP</label>
            </fieldset>
        </div>




        <!-- Item -->
        <div class='row' id='itemsContainer'>
        <!-- {{#each item in items}} -->
        <!--     {{> addedItem item}} -->
        <!-- {{/each}} -->
        {{> itemForm new=true _id=newItemID }}
        </div>
    


        <!-- comments section -->
        <hr>
        {{> attachments }}

        <div class='row'>
            <label>Comment:
            </label>
            <input type='text' name='comments' placeholder='Write an initial comment for the order'>
        </div>
        <div class='row'>
            <button class='button success' id='submit'>Add Order</button>
        </div>
    </form>
</template>

<template name='addedItem'>
    <div class='row'>
        <div class='callout column flex-container small-up-1 medium-up-2' style='margin-left: 1em; margin-right: 1em; border-radius: 5px'>
            {{#if preview}}
                {{#each file in preview }}
                    <div class='column flex-child-shrink'>
                        <img class='thumbnail' style='max-width: 200px' src={{file.fileUrl}} alt='item {{_id}} preview image'>
                    </div>
                {{/each }}
            <div class='column flex-child-grow'>
                <p><strong>{{size.value}}</strong><br>
                {{material.value}}<br>
                <em>{{description.value}}</em><br>
                {{quantity.value}}</p>
            </div>
            {{else}}
                <span>{{size.value}}, </span>
                <span>{{material.value}}, </span>
                <span>{{description.value}}</span>
                <span> x{{quantity.value}}</span>
            {{/if}}
        </div>
    </div>
</template>
