<template name="aoItemFinishings">
    <!-- Finishings -->
    <div class='row'>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Numbered:
                <input type='checkbox' name='numbered' data-key='finishings' data-label='Numbered'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>UV coating:
                <input type='checkbox' name='uvCoating' data-key='finishings' data-label='UV Coating'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Realce/Raising:
                <input type='checkbox' name='raising' data-key='finishings' data-label='Realce/Raising'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Grommet:
                <input type='checkbox' name='grommet' data-key='finishings' data-label='Grommet'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Saddle Stitch:
                <input type='checkbox' name='saddleStitch' data-key='finishings' data-label='Saddle Stitch'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Perforated:
                <input type='checkbox' name='perforated' data-key='finishings' data-label='Perforated'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Binding:
                <input type='checkbox' name='binding' data-key='finishings' data-label='Binding'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Folding:
                <input type='checkbox' name='folding' data-key='finishings' data-label='Folding'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>MINOLTA:
                <input type='checkbox' name='minolta' data-key='finishings' data-label='MINOLTA'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>RYOBI:
                <input type='checkbox' name='ryobi' data-key='finishings' data-label='RYOBI'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>ROLAND:
                <input type='checkbox' name='roland' data-key='finishings' data-label='ROLAND'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>HP:
                <input type='checkbox' name='hp' data-key='finishings' data-label='HP'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Digital:
                <input type='checkbox' name='digital' data-key='finishings' data-label='Digital'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Offset:
                <input type='checkbox' name='offset' data-key='finishings' data-label='Offset'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Silkscreen:
                <input type='checkbox' name='silkscreen' data-key='finishings' data-label='Silkscreen'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Direct mailing:
                <input type='checkbox' name='directMailing' data-key='finishings' data-label='Direct Mailing'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Installation:
                <input type='checkbox' name='installation' data-key='finishings' data-label='Installation'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Embroidery:
                <input type='checkbox' name='embroidery' data-key='finishings' data-label='Embroidery'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Perfect binding:
                <input type='checkbox' name='perfectBinding' data-key='finishings' data-label='Perfect Binding'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Cutting:
                <input type='checkbox' name='cutting' data-key='finishings' data-label='Cutting'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Die cutting:
                <input type='checkbox' name='dieCutting' data-key='finishings' data-label='Die Cutting'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Outsourcing:
                <input type='checkbox' name='outsourcing' data-key='finishings' data-label='Outsourcing'>
            </label>
        </div>
        <div class='small-6 medium-3 large-2 columns'>
            <label>Laminating:
                <input type='checkbox' name='laminating' data-key='finishings' data-label='Laminating'>
            </label>
        </div>
    </div>
</template>
