<template name='aoNewClient'>
    <div class='row small-up-1 medium-up-2'>
        <div class='column'>
            <label>Customer name:
                <input id='newCustomerName' type='text'>
            </label>
        </div>
        <div class='column'>
            <label>Phone number:
                <input id='newCustomerPhone' type='text'>
            </label>
        </div>
        <div class='column'>
            <label>Person in charge:
                <input id='newPersonCharge' type='text'>
            </label>
        </div>
        <div class='column'>
            <label>Website:
                <input id='newWebsite' type='text'>
            </label>
        </div>
        <div class='column'>
            <label>Email:
                <input id='newEmail' type='text'>
            </label>
        </div>
        <div class='column'>
            <label>Address:
                <input id='newAddress' type='text'>
            </label>
        </div>
    </div>
    <div class='row'>
    <button class='align-right button success float-left info js-submitNewUser'>Add client</button>
    </div>
</template>
