<template name='aoStatuses'>
<div class='row'>
    <div class='small-6 medium-3 large-3 columns'>
        <label>Email info: 
            <input id='emailInfo' data-statuses data-status-select='emailInfoState' data-label='Email Info' type='checkbox'>
        </label>
        {{#if emailInfo}}
            <label>
                <select id='emailInfoState'>
                    <option value='Stand By'>Stand by</option>
                    <option value='In progress'>In progress</option>
                    <option value='Completed'>Completed</option>
                </select>
            </label>
        {{/if}}
    </div>
    <div class='small-6 medium-3 large-3 columns'>
        <label>Ready for print: 
            <input id='readyForPrint' data-statuses data-status-select='readyForPrintState' data-label='Ready for print' type='checkbox'>
        </label>
        {{#if readyForPrint}}
            <label>
                <select id='readyForPrintState'>
                    <option value='Stand By'>Stand by</option>
                    <option value='In progress'>In progress</option>
                    <option value='Completed'>Approved for print</option>
                </select>
            </label>
        {{/if}}
    </div>
    <div class='small-6 medium-3 large-3 columns'>
        <label>Design: 
            <input id='designWork' data-statuses data-status-select='designWorkState' data-label='Design' type='checkbox'>
        </label>
        {{#if designWork}}
            <label>
                <select id='designWorkState'>
                    <option value='Stand By'>Stand by</option>
                    <option value='In progress'>In progress</option>
                    <option value='Completed'>Design completed</option>
                </select>
            </label>
        {{/if}}
    </div>
    <div class='small-6 medium-3 large-3 columns'>
        <label>Approval: 
            <input id='approval' data-statuses data-status-select='approvalState' data-label='Approval' type='checkbox'>
        </label>
        {{#if approval}}
            <label>
                <select id='approvalState'>
                    <option value='Stand By'>Stand by</option>
                    <option value='In progress'>In progress</option>
                    <option value='Completed'>Approved</option>
                </select>
            </label>
        {{/if}}
    </div>
</div>
</template>
