<template name='attachments'>
    <div class="row">
        <div class="small-12 medium-3 large-2">
            <label class='button hollow' for="attachment">Attach a file
            </label>
            <input class='show-for-sr' type="file" id='attachment' name="files">
        </div>
        {{#if tempfiles}}
            {{#each file in tempfiles}}
                {{> attachmentPod file}}
            {{/each}}
        {{/if}}
        {{#if _id}}
            {{#each file in orderAttachments}}
                {{> attachmentPod file}}
            {{/each}}
        {{/if}}
    </div>
</template>

<template name='attachmentPod'>
    <div class="small-12 medium-3 large-2 button hollow">
        <a href='{{fileUrl}}' target='blank'>{{ name }}</a>
        <button id='{{_id}}' class='js-delete-attachment' style='color: red'>&times;</button>
    </div>
</template>
