<template name='clients'>
    <div class='row align-middle flex-container flex-dir-column'>
        <div class='column'>
            <label>Select a client:</label>
            <select name='client-list'>
                <option selected hidden>Choose here</option>
                {{#each client in clientsList}}
                <option value='{{client._id}}'>{{client.name}}</option>
                {{/each}}
            </select>
            <p>&nbsp;</p>
        </div>
    </div>
    {{#if clientData}}
        {{> clientToEdit clientData}}
    {{/if}}
</template>

<template name='clientToEdit'>
    <form class='row'>
        <label class='medium-4 columns'>Client name:
            <input type='text' name='clientName' data-identifier='name' value='{{name}}'>
        </label>
        <label class='medium-4 columns'>Phone number:
            <input type='text' name='clientPhone' data-identifier='phone' value='{{phone}}'>
        </label>
        <label class='medium-4 columns'>Person in charge:
            <input type='text' name='clientCharge' data-identifier='personInCharge' value='{{personInCharge}}'>
        </label>
        <label class='medium-4 columns'>Website:
            <input type='text' name='clientWebsite' data-identifier='website' value='{{website}}'>
        </label>
        <label class='medium-8 columns'>Address:
            <input type='text' name='clientAddress' data-identifier='address' value='{{address}}'>
        </label>
    </form>
    {{#if isInRole 'manager,editor'}}
    <div class='row flex-container align-justify'>
        <button class='button success js-updateClient'>Update client</button>
        <button class='button error js-deleteClient'>Delete client</button>
    </div>
    {{/if}}
    {{#if Template.subscriptionsReady}}
        {{#if orders}}
        <div class='row small-up-1 medium-up-3 large-up-4'>
            {{#each order in orders}}
            <div class='column'>
                <div class='card'>
                    <div class='card-section flex-container flex-dir-column'>
                        {{#if isInRole 'manager,editor'}}
                        <a href='/editOrder/{{order}}'>Invoice: {{orderInvoice order}}</a>
                        {{else}}
                        <a href='/viewOrder/{{order}}/{{_id}}'>Invoice: {{orderInvoice order}}</a>
                        {{/if}}
                        <p>{{orderDescription order}}</p>
                        <p>{{orderQuantity order}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    {{/if}}
</template>
