<template name='dashboard'>
    {{#if Template.subscriptionsReady}}
    <div class='row small-up-2 medium-up-3 large-up-6' id="filters" style='margin-top: 1em'>
        <button class="button hollow column">Filter orders:</button>
        <button class="button column">Show All</button>
        <button class="button column" id='emailInfoFilter'>Email Info</button>
        <button class="button column" id='readyForPrintFilter'>Ready for Print</button>
        <button class="button column" id='approvalFilter'>Waiting Approval</button>
        <button class="button column" id='designFilter'>Design</button>
    </div>

    <div class='row small-up-1 medium-up-3' id='dashboard'>
        {{#each item in orders}}
            {{>dashboardOrder item}}
        {{/each}}
    </div>
    {{else}}
        {{> spinner}}
    {{/if}}
</template>

<template name='dashboardOrder'>
    <div class='column'>
        <div class='card' style='border-radius: 6px'>
            <div class='card-divider info'>
                <h3>Invoice: {{invoice}}</h3>
            </div>
            <img src='{{preview.fileUrl}}'>
            <div class='card-section '>
                <div class='flex-container align-justify'>
                <span><strong>Customer: </strong>{{getClientName customer}}</span>
                {{#if isInRole 'manager,editor'}}
                <span>
                    <a href='/editOrder/{{_id}}'>Edit</a>
                    <span> • </span>
                    <a href='/viewOrder/{{_id}}/{{customer}}'>Details</a>
                </span>
                {{else}}
                <a href='/viewOrder/{{_id}}/{{customer}}'>Details</a>
                {{/if}}
                </div>
            <hr>
            {{#each item in (statusArray statuses)}}
                <span class='{{labelColor item.state}} label' style='margin: 0.3em'>{{item.label}}</span>
            {{/each}}
            </div>
            <div class='card-divider info primary'>
                <h5>{{totalItems items}} Items:</h5>
                {{#each item in items}}
                    <p>{{item.size.value}}, {{item.description.value}}</p>
                {{/each}}
            </div>
            <div class='card-section'>
                <ul class='menu simple flex-container align-middle'>
                    {{#if isInRole 'manager,editor'}}
                    <button class='button success js-mark-complete align-left'>Mark Complete</button>
                    {{/if}}
                    <li class='flex-child-grow'></li>
                    {{#if comments}}<li><a data-open="{{_id}}">💬{{commentCount comments}}</a></li>{{/if}}
                    {{#if isInRole 'manager,editor'}}
                    <li class='alert'><a href='#' class='js-delete-order' style='color: red; font-size: 2em'>&times;</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{#if comments}}
        <div class="reveal dashboardReveal" id="{{_id}}" data-reveal>
            {{> commentBox _id}}
            <hr>
            {{#each comment in comments}}
                <p><strong>{{getUserName comment.author}}</strong>{{comment.body}}</p>
                <hr>
            {{/each}}
            <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
    {{/if}}
</template>

<template name='commentBox'>
    <form class='flex-container flex-dir-column'>
        <label class='lead'>Add comment:
            <textarea name='commentBox'></textarea>
        </label>
        <button type='button' class='button js-submit-comment'>Submit Comment</button>
    </form>
</template>
