<template name='editClient'>
    <div class='row'>
        <div class='small-12 medium-4 columns'>
            <label>Customer name:
                <input id='newCustomerName' type='text' value='{{client.name}}'>
            </label>
        </div>
        <div class='small-12 medium-3 large-2 columns'>
            <label>Phone number:
                <input id='newCustomerPhone' type='text' value='{{client.phone}}'>
            </label>
        </div>
        <div class='small-12 medium-4 columns'>
            <label>Person in charge:
                <input id='newPersonCharge' type='text' value='{{client.personInCharge}}'>
            </label>
        </div>
        <div class='small-12 medium-3 large-4 columns'>
            <label>Website:
                <input id='newWebsite' type='text' value='{{client.website}}'>
            </label>
        </div>
        <div class='small-12 medium-4 columns'>
            <label>Email:
                <input id='newEmail' type='text' value='{{client.email}}'>
            </label>
        </div>
        <div class='small-12 medium-4 columns'>
            <label>Address:
                <input id='newAddress' type='text' value='{{client.address}}'>
            </label>
        </div>
        <button class='button float-left info js-saveUserChange'>Save</button>
    </div>
</template>
