<template name="editOrder">
    <span id='orderId' class='hidden invisible'>{{order._id}}</span>
    <form>
        <div class='row'>
            <div class='small-12 medium-6 columns'>
                <label>Customer:
                    <select id='customerName'>
                        {{#each client in clientsList}}
                            <option value='{{client._id}}'>{{client.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
            <div class='small-6 medium-3 columns'>
                <label>Invoice: 
                    <input id='invoice' type='text' value='{{order.invoice}}'>
                </label>
            </div>
            <div class='small-6 medium-3 columns'>
                <label>Payment status:
                    <select name='paymentStatus'>
                        {{#if order.paymentStatus}}
                        <option value='0'>Balance pending</option>
                        <option value='1' selected>Paid</option>
                        {{else}}
                        <option value='0' selected>Balance pending</option>
                        <option value='1'>Paid</option>
                        {{/if}}
                    </select>
                </label>
            </div>
            <div class='small-6 medium-3 columns'>
                <label>Due date: 
                    <input type='date' name='dueDate' value='{{order.dueDate}}'>
                </label>
            </div>
            <div class='small-6 medium-3 columns'>
                <label>Priority: 
                    <select name='priority'>
                        <option value='low'>Low</option>
                        <option value='med'>Normal</option>
                        <option value='high'>High</option>
                    </select>
                </label>
            </div>
            <div class='small-12 medium-6 columns'>
                <label>Staff: 
                    <input name='staff' type='text' value='{{order.designatedWorkers}}'>
                </label>
            </div>
        </div>
        <div class='row'>
            <div class='small-6 medium-3 large-3 columns'>
                <label>Email info: 
                    {{#if order.statuses.emailInfo.value}}
                    <input name='emailInfo' type='checkbox' checked>
                    {{else}}
                    <input name='emailInfo' type='checkbox'>
                    {{/if}}
                </label>
                    <label>
                        <select name='emailInfoState'>
                            <option value='Stand By'>Stand by</option>
                            <option value='In progress'>In progress</option>
                            <option value='Completed'>Completed</option>
                        </select>
                    </label>
            </div>
            <div class='small-6 medium-3 large-3 columns'>
                <label>Ready for print: 
                    {{#if order.statuses.readyForPrint.value}}
                    <input name='readyForPrint' type='checkbox' checked>
                    {{else}}
                    <input name='readyForPrint' type='checkbox'>
                    {{/if}}
                </label>
                    <label>
                        <select name='readyForPrintState'>
                            <option value='Stand By'>Stand by</option>
                            <option value='In progress'>In progress</option>
                            <option value='Completed'>Approved for print</option>
                        </select>
                    </label>
            </div>
            <div class='small-6 medium-3 large-3 columns'>
                <label>Design: 
                    {{#if order.statuses.designWork.value}}
                    <input name='designWork' type='checkbox' checked>
                    {{else}}
                    <input name='designWork' type='checkbox'>
                    {{/if}}
                </label>
                    <label>
                        <select name='designWorkState'>
                            <option value='Stand By'>Stand by</option>
                            <option value='In progress'>In progress</option>
                            <option value='Completed'>Design completed</option>
                        </select>
                    </label>
            </div>
            <div class='small-6 medium-3 large-3 columns'>
                <label>Approval: 
                    {{#if order.statuses.approval.value}}
                    <input name='approval' type='checkbox' checked>
                    {{else}}
                    <input name='approval' type='checkbox'>
                    {{/if}}
                </label>
                <label>
                    <select name='approvalState'>
                        <option value='Stand By'>Stand by</option>
                        <option value='In progress'>In progress</option>
                        <option value='Completed'>Approved</option>
                    </select>
                </label>
            </div>
        </div>
        <div class='row'>
            <fieldset class='fieldset small-12 columns'>
                <legend>Job ready:</legend>
                <input type='radio' name='jobReady' value='ups' id='ups'><label for='ups'>UPS</label>
                <input type='radio' name='jobReady' value='fedex' id='fedex'><label for='fedex'>FEDEX</label>
                <input type='radio' name='jobReady' value='delivery' id='delivery'><label for='delivery'>DELIVERY</label>
                <input type='radio' name='jobReady' value='storePickup' id='storePickup'><label for='storePickup'>STORE PICK UP</label>
            </fieldset>
        </div>

        <div class='row' id='itemsContainer'> 
        {{#each item in storedItems}}
            <!-- {{> eoOrderItem item}} -->
            {{> itemForm item new="false"}}
        {{/each}}
        {{> itemForm new=true}}
        </div>




        <div class='row flex-container'>
            <button class='button info' id='submit'>Update Order</button>
            <p class='flex-child-grow'></p>
            {{#if order.complete}}
            <button style='color: white' class='button success align-right js-make-active'>Reactivate order</button>
            {{else}}
            <button style='color: white' class='button success align-right js-make-complete'>Complete</button>
            {{/if}}
        </div>
    </form>
    
    {{> attachments order}}

    <div class='row'>
        <textarea name='comment'></textarea>
    </div>
    <div class='row'>
        <button class='button info js-post-comment'>Post Comment</button>
    </div>
    {{#if order.comments}}
        <div class='row'>
            {{#each comment in order.comments}}
                {{> inLineComments comment}}
            {{/each}}
        </div>
    {{/if}}
</template>

<template name='inLineComments'>
    <div class='callout success small-12 columns'>
        <strong><span>{{getUserName this.author}}:</span></strong>
        <span>{{this.body}}</span>
    </div>
</template>

