<template name='itemForm'>
    <div class='callout itemForm {{ submittableItem }}' id='{{ getId }}' data-new='{{ new }}'>
    <div class='row'>
        <div class='small-6 medium-2 large-2 columns'>
            <label>Quantity:
                {{ #if new }}
                <input data-label='Quantity' type='number' value='500' data-group='specs' name='quantity'>
                {{ else }}
                <input data-label='Quantity' type='number' value='{{ quantity.value }}' data-group='specs' name='quantity'>
                {{ /if }}
            </label>
        </div>
        <div class='small-6 medium-2 large-2 columns'>
            <label>Size:
                <input data-label='Size' type='text' placeholder='a4' data-group='specs' value="{{size.value}}" name='size'>
            </label>
        </div>
        <div class='small-12 medium-4 large-5 columns'>
            <label>Item Description:
                <input data-label='Item Description' type='text' placeholder='Brochure' data-group='specs' name='description' value="{{description.value}}">
            </label>
        </div>
        <div class='small-12 medium-4 large-3 columns'>
            <label>Material:
                <input data-label='Material' type='text' data-group='specs' name='material' value="{{material.value}}">
            </label>
        </div>
    </div>
    <div class='row small-up-1 medium-up-2 large-up-3 previewsContainer'>
        {{#if preview}}
            {{#each obj in preview}}
                {{> previewUploader obj }}
            {{/each}}
        {{/if}}
        {{> previewUploader _id=generateId }}
    </div>


    {{ #if finishings }}
        <div class='row '>
        {{#each finishing in finishings}}
        <div class='small-6 medium-3 large-2 columns'>
            <label>{{finishing.label}}:
                <input type='checkbox' name='{{finishing.identifier}}' checked='{{#if finishing.value}}checked{{/if}}' data-key='finishings' data-label='{{finishing.label}}'>
            </label>
        </div>
        {{/each}}
        </div>
    {{ else }}
        {{> aoItemFinishings }}
    {{ /if }}
    <!-- Finishings -->
    {{ #if new }}
        <div class='row js-addItemRow'>
            <button class='button addItem'>Add item</button>
        </div>
    {{ /if }}
    {{ #if showRemove }}
        <div class='row align-right'>
            <button class='button alert js-removeItem' id="js-removeItem">Remove Item</button>
        </div>
    {{ /if }}
    </div>
    <span class='{{_id}}' style='width: 100vw; display: block; text-align: center; margin-bottom: 16px; color: rgb(34, 187, 91)'>• • •</span>
</template>
