<template name='ordersArchive'>
    <div class='row small-up-1 medium-up-2 large-up-3'>
        {{#each order in archivedOrders}}
        <div class='column'>
            <div class='card'>
                <div class='card-divider'>
                    {{#if isInRole 'manager,editor'}}
                    <h4><a href='/editOrder/{{order._id}}'>{{order.invoice}}</a></h4>
                    {{else}}
                    <h4><a href='/viewOrder/{{order._id}}'>{{order.invoice}}</a></h4>
                    {{/if}}
                </div>
                <div class='card-section'>
                    <p>{{order.specs.description.value}}</p>
                    <p>{{date order.createdAt}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
