<template name="previewUploader">
    <div class="column previewUploader" id='{{ getPreviewId }}'>
        <div class='row'>
            <img style='margin: 10px' src='{{ fileUrl }}' class='itemPreview'>
        </div>
        <div class='row'>
            <div class='small-6 columns {{ showUploadButton }}'>
                <label class='button hollow'>Upload preview
                    <input name='preview' type='file' class='show-for-sr previewUploaderInput'>
                </label>
            </div>
            <div class="small-6 columns {{ showRemoveButton }}">
                <button class="button alert removePreview">Remove Preview</button>
            </div>
        </div>
    </div>
</template>
