<template name='userProfile'>
    <div class="row flex-container align-center" style='margin-top: 40px'>
    <div class="medium-6 large-4 columns">
        <div>
            <label>First name:
                <input type='text' name='firstName' value='{{user.firstName}}'>
            </label>
        </div>
        <div>
            <label>Last name:
                <input type='text' name='lastName' value='{{user.lastName}}'>
            </label>
        </div>
        <div>
            <label>Email:<input type="email" name="email" value='{{user.emails.[0].address}}'></label>
        </div>
        <div>
            {{#if user.avatar}}
                <img style='max-width: 150px' src='{{user.avatar.fileUrl}}' alt='user avatar'>
            {{/if}}
            <label>Avatar:
                <input type='file' class='js-avatar-upload'>
            </label>
        </div>
        <div class='row flex-container align-justify'>
            <button class='hollow button js-password'>Change password</button>
            <button class='hollow button success js-save-user'>Save changes</button>
        </div>
        {{#if changePassword}}
        <form id='passwordForm'>
            <div class='row small-up-1'>
                <label class='column'>Type your current password
                    <input type='password' name='currentPassword' value=''>
                </label>
                <label class='column'>New password:
                    <input type='password' name='newPassword' value=''>
                </label>
                <label class='column'>Re-type new password:
                    <input type='password' name='reNewPassword' value=''>
                </label>
                <button class='button success js-own-password-change'>Update password</button>
            </div>
        </form>
        {{/if}}
    </div>
    </div>
</template>
