<template name='takeTask'>
    <div class='row tt-tasksCheckList__title'>
        <div class='small-12 columns text-center'>
            <p class='lead text-center'>Available orders:</p>
        </div>
    </div>
    <div class='tt-tasksCheckList'>
        {{#if Template.subscriptionsReady}}
            {{#each order in availableOrders}}
            <div class='tt-tasksCheckList__item'>
            <label class='tt-tasksCheckList__label'><strong>{{clientName order.customer}}:</strong>
                    <input class='tt-tasksCheckList__checkbox' type='checkbox' name='{{order._id}}' data-identifier='orders' checked='{{#if orderListChecker order._id}}checked{{/if}}'>
                </label>
                {{#each item in order.items}}
                    <p>{{item.description.value}}</p>
                {{/each}}
            </div>
            {{/each}}
        {{/if}}
        <button class='button tt-tasksCheckList__updateButton js-updateUserTasks'>Update</button>
    </div>
</template>

