<!-- 
-->
<template name='tasksReport'>
    <div class='row'>
        <div class='small-12 large-10 columns'>
            <div class="row small-up-1 medium-up-5">
                <div class='column'>
                    <label>Filter type: 
                        <select name='filterType'>
                            <option value='active' active>Active orders</option>
                            <option value='user'>User</option>
                            <option value='date'>Date</option>
                        </select>
                    </label>
                </div>
                {{#if filterByUser}}
                <div class='column'>
                    <label>User:
                        <select name="userSelector">
                        {{#each user in userList}}
                        <option value='{{user._id}}'>{{user.firstName}} {{user.lastName}}</option> 
                        {{/each}}
                        </select>
                    </label>
                </div>
                <div class='column'>
                    <label>Period: 
                        <select name='firstFilter'>
                            <option value='week' active>Last 7 days</option>
                            <option value='month'>Month</option>
                            <option value='custom'>Custom</option>
                        </select>
                    </label>
                </div>
                {{/if}}
                {{#if filterByDate}}
                <div class='column'>
                    <label>Period: 
                        <select name='firstFilter'>
                            <option value='week' active>Last 7 days</option>
                            <option value='month'>Month</option>
                            <option value='custom'>Custom</option>
                        </select>
                    </label>
                </div>
                {{/if}}
                {{#if customDate}}
                <div class='column'>
                    <label>Year: 
                        <select name='filterYear'>
                            {{#each year in years}}
                                <option value='{{year}}'>{{year}}</option>
                            {{/each}}
                        </select>
                    </label>
                </div>
                <div class='column'>
                    <label>Month:
                        <select name='filterMonth'>
                            <option value='0' active>January</option>
                            <option value='1'>February</option>
                            <option value='2'>March</option>
                            <option value='3'>April</option>
                            <option value='4'>May</option>
                            <option value='5'>June</option>
                            <option value='6'>July</option>
                            <option value='7'>August</option>
                            <option value='8'>September</option>
                            <option value='9'>October</option>
                            <option value='10'>November</option>
                            <option value='11'>December</option>
                        </select>
                    </label>
                </div>
                {{/if}}
            </div> <!-- End of the row -->
        </div> <!-- End of the subcolumns -->
        <div class='small-12 large-2 columns'>
            <button class="button success ApplyFilter" style='margin-top: 18px'>Filter</button>
        </div>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-4">
        <!-- {{> testTemplate (userOrderGen currentUserFilterByUser 2)}} -->
        {{#each order in orders}}
            {{> orderReport (tasksMerger order)}}
        {{/each}}
    </div>
</template>

<!-- color for backgorund #1779ba -->

<template name='orderReport'>
    <div class="column">
        <div class='card' style="border-radius: 6px"> 
            <div class="card-divider" style='background: #1779ba; color: white'>
                <h4>{{getCustomerName customer}}</h4>
            </div>
            {{#each task in (toArray tasks)}}
            <div class="card-section">
                <p class="card-divider">{{getUserName task.user}}</p>
                <p class='or-timeContainer'>
                {{#each period in (timeFormatter task.period)}}
                <span class='or-timeText'>&nbsp;&nbsp;{{period.time}} </span>{{period.unit}}  
                {{/each}}
                </p>
            </div>
            {{/each}}
        </div>
    </div>
</template>
