<template name='usersRoot'>
    <div class='row'>
        <div class='column'>
            {{> usersList}}
        </div>
        <div class='column'>
            <div class='row'>
                <button class='hollow button js-addUser'>Create user</button>
            </div>
            <div class='column'>
                {{#if addingUser}}
                    {{> userAdd}}
                {{/if}}
                {{#if editingUser}}
                    {{> userEdit (editedUser editingUser)}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name='usersList'>
    {{#each users}}
        <div class='media-object js-user'>
            <div class='media-object-section'>
                <div class='thumbnail'>
                    <img style='max-width: 100px' alt='avatar of {{firstName}} {{lastName}}' src='{{avatar.fileUrl}}'>
                </div>
            </div>
            <div class='media-object-section'>
                <h3>{{firstName}} {{lastName}}</h3>
            </div>
        </div>
    {{/each}}
</template>

<template name='userEdit'>
    <div>
        <label>First name:
            <input type='text' name='firstName' value='{{firstName}}'>
        </label>
    </div>
    <div>
        <label>Last name:
            <input type='text' name='lastName' value='{{lastName}}'>
        </label>
    </div>
    <div>
        <label>Email:<input type="email" name="email" value='{{emails.[0].address}}'></label>
    </div>
    <div class='row'>
        <label>
            <select name='role'>
                <option value='manager' {{roleTicker "manager"}}>Manager</option>
                <option value='editor' {{roleTicker "editor"}}>Editor</option>
                <option value='production' {{roleTicker "production"}}>Production</option>
            </select>
        </label>
    </div>
    <div>
        <img style='max-width: 150px' src='{{avatar.fileUrl}}'>
        <label>Avatar:
            <input type='file' class='js-avatar-upload'>
        </label>
    </div>
    <div class='row flex-container align-justify'>
        <button class='hollow button js-password'>Change password</button>
        <button class='hollow button success js-save-user'>Save</button>
    </div>
    {{#if changePassword}}
    <form id='passwordForm'>
        <div class='row small-up-1'>
            {{#if isOwnPassword}}
            <label class='column'>Type your current password
                <input type='password' name='currentPassword' value=''>
            </label>
            {{/if}}
            <label class='column'>New password:
                <input type='password' name='newPassword' value=''>
            </label>
            <label class='column'>Re-type new password:
                <input type='password' name='reNewPassword' value=''>
            </label>
            <button class='button success {{#if isOwnPassword}}js-own-password-change{{else}}js-password-change{{/if}}'>Update password</button>
        </div>
    </form>
    {{/if}}
</template>

<template name='userAdd'>
    <form>
        <label>First Name:
            <input name='firstName' type='text'>
        </label>
        <label>Last Name:
            <input name='lastName' type='text'>
        </label>
        <label>Username:
            <input name='username' type='text'>
        </label>
        <label>Email:
            <input name='email' type='text'>
        </label>
        <label>
            <select name='role'>
                <option value='manager'>Manager</option>
                <option value='editor'>Editor</option>
                <option value='production'>Production</option>
            </select>
        </label>
        <label>Password:
            <input name='password' type='password'>
        </label>
        <button class='button info js-create-user'>Create user</button>
    </form> 
</template>
