<template name="viewOrder">
    <span style='text-align: center; width: 100vw; display: block; color: #777'>•</span>
{{#if Template.subscriptionsReady}}
    <div class='row small-up-2 medium-up-3 large-up-6'>
        <div class='column'>
            <span>Customer: </span>
            <p class='lead'>{{customerName}}</p>
        </div>
        <div class='column'>
            <span>Invoice: </span>
            <p class='lead'>{{order.invoice}}</p>
        </div>
        <div class='column'>
            <span>Payment status: </span>
            <p class='lead'>{{paymentStatus}}</p>
        </div>
        <div class='column'>
            <span>Created at: </span>
            <p class='lead'>{{moment order.createdAt}}</p>
        </div>
        <div class='column'>
            <span>Due date:</span>
            <p class='lead'>{{moment order.dueDate}}</p>
        </div>
        <div class="column">
            <span>Priority:</span>
            <p class="lead">{{order.priority}}</p>
        </div>
    </div>

    <div class='row flex-container medium-up-3 vo-statuses'>
        {{#if order.statuses.emailInfo.value}}
        <div class='vo-status'>
            <div class="status-wrapper">
                <span>Email Info:</span>
                <p>{{order.statuses.emailInfo.state}}</p>
            </div>
        </div>
        {{/if}}
        {{#if order.statuses.readyForPrint.value}}
        <div class='vo-status'>
            <div class="status-wrapper">
                <span>Ready for Print:</span>
                <p>{{order.statuses.readyForPrint.state}}</p>
            </div>
        </div>
        {{/if}}
        {{#if order.statuses.designWork.value}}
        <div class='vo-status'>
            <div class="status-wrapper">
                <span>Design:</span>
                <p>{{order.statuses.designWork.state}}</p>
            </div>
        </div>
        {{/if}}
        {{#if order.statuses.approval.value}}
        <div class='vo-status'>
            <div class="status-wrapper">
                <span>Aproval:</span>
                <p>{{order.statuses.approval.state}}</p>
            </div>
        </div>
        {{/if}}
        <div class="vo-status">
            <div class="status-wrapper">
                <span>Order Ready:</span>
                <p>{{order.jobReady}}</p>
            </div>
        </div>
    </div>

    {{#each item in order.items}}
        {{> view_order_item item}}
    {{/each}}

    <div class='row'>
        <textarea name='comment'></textarea>
    </div>
    <div class='row'>
        <button class='button info js-post-comment'>Post Comment</button>
    </div>
    {{#if order.comments}}
        <div class='row'>
            {{#each comment in order.comments}}
                {{> inLineComments comment}}
            {{/each}}
        </div>
    {{/if}}

{{/if}}
</template>

<!-- <template name='inLineComments'> -->
<!--     <div class='callout success small&#45;12 columns'> -->
<!--         <strong><span>{{getUserName this.author}}:</span></strong> -->
<!--         <span>{{this.body}}</span> -->
<!--     </div> -->
<!-- </template> -->
<!--  -->
