<template name='view_order_item'>
    <div class='row'>
    <div class='callout column'>
        <div class="row small-up-2 medium-up-4 card-divider" style='margin: 0 auto 10px'>
            <div class="column">
                <p><span class="lead">{{size.label}}: </span>{{size.value}}</p>
            </div>
            <div class="column">
                <p><span class="lead">{{quantity.label}}: </span>{{quantity.value}}</p>
            </div>
            <div class="column">
                <p><span class="lead">{{material.label}}: </span>{{material.value}}</p>
            </div>
            <div class="column">
                <p><span class="lead">{{description.label}}: </span>{{description.value}}</p>
            </div>
        </div>
        <div class="grid-x grid-container vo-item-finishings" style='margin-bottom: 10px'>
            {{#each finishing in finishings}}
                {{#if finishing.value}}
                <!-- <div class="column"> -->
                    <p class="cell label success" style='font-size: 1em; font-weight: 500;  color: white'>{{finishing.label}}</p>
                <!-- </div> -->
                {{/if}}
            {{/each}}
        </div>
        {{#if preview}}
            <div class="row small-up-1 medium-up-3 card-divider">
            {{#each p in preview}}
                <div class="column">
                <a href='{{p.fileUrl}}' target='blank'>
                    <img class="vo-item-preview thumbnail" src="{{p.fileUrl}}" alt="{{p.name}}">
                </a>
                </div>
            {{/each}}
            </div>
        {{/if}}
    </div>
    </div>
        <span style='text-align: center; width: 100vw; margin-bottom: 10px; display: block; color: #777'>•••••</span>
</template>
